{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body > 


    {% block styles %}
      {{ super() }}
      <link rel="stylesheet" href="{{url_for('static',filename='CSS/index.css')}}">
    
    {% endblock %}
  {%block content%}
  <center><h2 style="background-color:grey;">WELCOME TO BLOGS APPLICATION</h2></center>
   
 
      <blockquote class="text-center text-lg">
          <h2>Quotes</h2>
          <p style="font-family:monospace;">{{quote.quote}}</p>
          <p style="font-family: monospace;"><b>Author:</b> {{quote.author}}</p>
 <div class="container">
   <p>Already signed in? Write your blog <a href="/new"></a><a href="{{url_for('main.new_blog')}}"><button>here</button></p>
   <hr>
      
    <center>
    {% for blog in blogs%} 
   <p>{{blog.blog}}</p> 
   <div class ="com">
   <a href="/new"></a><a href="{{url_for('main.new_comment', id= blog.id)}}"><button>Comment</button></a>
   <a class="btn btn-primary btn-md" href="/delete/blog/{{blog.id}}">Delete blog</a>
   <a class="btn btn-primary btn-md" href="/update/blog/{{blog.id}}">Update</a>
    <br>
  </div>
     {% endfor %}
   <br> <hr>
<button><a href="/subscribe">subscribe</a></button>
 {% endblock%}
 <br>
</center>
</div>
</body>
</html>
